* {
  margin:0;
}

.app{
  background-color:#fafafa;
  
}

.app__header {
  background-color:white ;
  object-fit: contain;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.app__headerImage{
  height: 65px;
  width: 200px;
}